## Observations and Insights

In [30]:
# Dependencies and Setup
import math
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import sem

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

merged_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how = "left")
merged_df



# Display the data table for preview

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [31]:
merged_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [32]:
#find duplicate time points
# merged_df[["Mouse ID","Timepoint" ]].nunique()

merged_df["Timepoint"].drop_duplicates().reset_index(drop=True)
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [33]:
# Checking the number of mice.
merged_df["Mouse ID"].value_counts()

merged_df.dtypes

Mouse ID               object
Drug Regimen           object
Sex                    object
Age_months              int64
Weight (g)              int64
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
dtype: object

In [34]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
merged_df[["Mouse ID", "Timepoint"]]

     Mouse ID  Timepoint
0        k403          0
1        k403          5
2        k403         10
3        k403         15
4        k403         20
...       ...        ...
1888     z969         25
1889     z969         30
1890     z969         35
1891     z969         40
1892     z969         45

[1893 rows x 2 columns]

In [35]:
# Optional: Get all the data for the duplicate mouse ID.

In [36]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [37]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [38]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
merged_df["Tumor Volume (mm3)"].describe()

# This method is the most straighforward, creating multiple series and putting them all together at the end.

count    1893.000000
mean       50.448381
std         8.894722
min        22.050126
25%        45.000000
50%        48.951474
75%        56.292200
max        78.567014
Name: Tumor Volume (mm3), dtype: float64

In [56]:
# SEM of the tumor volume
mean_numpy = np.mean(merged_df["Tumor Volume (mm3)"])

#SEM by hand
# std_numpy = np.std(merged_df["Tumor Volume (mm3)"])
# std_numpy
# SEM = std_numpy/math.sqrt(1893)
# print(f"The SEM of the tumor volume for each regimen is: {SEM} ")


# using scipy for SEM
sci_SEM = sem(merged_df["Tumor Volume (mm3)"])
print(f"The SEM of the tumor volume for each regimen is : {sci_SEM}")

The standard error from the mean is: 0.20443585034961514

In [40]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [64]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
# bar plot with pandas

# Need to find total number of mice in each regimen first then add as y variable in the plot

# barplot = merged_df.plot.bar(x='Drug Regimen', y='total number of mice', rot=0)

# plt.bar(x_axis, merged_df["Drug Regimen"], color='r', alpha=0.5, align="center")

# total number of mice for each treatment
merged_df["Drug Regimen"].value_counts()

Capomulin    230
Ramicane     228
Ketapril     188
Naftisol     186
Zoniferol    182
Placebo      181
Stelasyn     181
Infubinol    178
Ceftamin     178
Propriva     161
Name: Drug Regimen, dtype: int64

In [42]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [43]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [44]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [45]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [46]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [47]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [48]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [49]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [50]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen